@page
@model Csci340lab7.Pages.Avocados.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Avocado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Avocado.Type" class="control-label"></label>
                <input asp-for="Avocado.Type" class="form-control" />
                <span asp-validation-for="Avocado.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avocado.Tried" class="control-label"></label>
                <input asp-for="Avocado.Tried" class="form-control" />
                <span asp-validation-for="Avocado.Tried" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avocado.Enjoyment" class="control-label"></label>
                <input asp-for="Avocado.Enjoyment" class="form-control" />
                <span asp-validation-for="Avocado.Enjoyment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avocado.Price" class="control-label"></label>
                <input asp-for="Avocado.Price" class="form-control" />
                <span asp-validation-for="Avocado.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
