@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a page about Avocados</h1>
    <p>Avocado + Avocado = Avocados and Avocado+ Avocado+ Avocado =Avocados.</p>
    <p> Plural is plural. You'll never truly know how many avocados I'm talking about </p>
    <p> To view my model of avocados add in /avocados to the url</p>
</div>
