@page
@model PrivacyModel
@{
    ViewData["Title"] = "Avocado Privacy does not equal an Avocado Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There is no privacy amongst avocados. They know all</p>
